<div class="camp-search-card" *ngIf="campSearch">
  <div class="field">
    <button (click)="goBack()" class="btn-back">返回上一頁</button>
  </div>
  <div class="field">
    <span class="label">露營日</span><br />
    <span class="value">{{ campSearch.campDate || "-" }}</span>
  </div>
  <div class="field">
    <span class="label">縣市</span><br />
    <span class="value">{{ campSearch.city || "-" }}</span>
  </div>
  <div class="field">
    <span class="label">露營場數量</span><br />
    <span class="value">{{ campSearch.allCampCount || "-" }}</span>
  </div>
</div>
